extends layout.jade
block  contenido
    div(class="clo-md-8 remove-float center-block text-center big-top-space")
        h1 bienvenido a fotosgalerias
        a(href="/login" class="right-space") Iniciar sesion
        a(href="/singup") Registro