extends ../../layout.jade
block  contenido
    div(class="clo-md-6 remove-float center-block big-top-space")
    h1 Subiendo imagen
        form(action="/imagenes",method="POST")
            div(class="form-group")
                label(for="title") Titulo
                input(type="text",class="form-control",name="title",placeholder="Titulo de la image",id="title")
            div
                label(for="archivo") Password
                input(type="file",class="form-control",name="archivo",id="archivo")
            
            div(class="row top-space")
                div(class="col-xs-12 col-sm-6")
                    input(type="submit",value="Iniciar sesion",class="btn btn-info")