html
    head
        title Mi primera pagina con Express
    body
        //este es un comentario
        - var arreglo = [1,2,3,4,5];
        each item in arreglo
            p= item
            case item
                when 1
                    p El item era uno
                when 2
                    p El item era dos
                default
                    p El item no era ni uno, ni dos